/* Region Root */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mine_s_light: #f3f2f2;
    --mine_light: #e5e5e5;
    --mine_dark: #051e34;
    --mine_notifications: #ff8f00;
    --mine_neutral-semitransparent: #e5e5e566;
    --mine_primary: #1b72e8;
    --mine_white: white;
}

/* region direct tag */
li,
a {
    text-decoration: none;
    color: var(--mine_light);
}

.c_black {
    color: black;
}

/* #End region direct tag */
.border_bnt {
    border: solid 1px white;
    background-color: var(--mine_primary);
    color: white;
}

.bg_primary {
    background-color: var(--mine_primary);
}

.bg_light {
    background-color: var(--mine_light);
}

.bg_s_light {
    background-color: var(--mine_s_light);
}

.bg_white {
    background-color: var(--mine_white);
}

.bg_dark {
    background-color: var(--mine_dark);
}

.bg_gray {
    background-color: var(--mine_neutral-semitransparent);
}

/* #endregion utilities */
/* #region top */

.top {
    height: 60px;
    width: 100%;
}

.top nav {
    height: 100%;
}

.mt_5r {
    margin-top: 5rem;
}

/* #endregion top */
#app_main {
    background-color: var(--mine_primary);
    color: var(--mine_white);
    height: 170px;
    width: 100%;
}

/* #region bottom*/
/* sidebar */
.bottom>.sidebar {
    width: 70px;
    height: calc(100vh);
    background-image: url(./assets/img/sidebar-bg.png);
    overflow-y: hidden;
}

/* main header */
#main_header {
    height: 200px;
    width: 100%;
    background-color: var(--mine_primary);
}

.bottom>.content {
    width: calc(100% - 70px);
    overflow-y: auto;
    height: calc(100vh - 65px);
}

/* #endregion bottom*/
/* btn */
.orange_circle {
    background-color: var(--mine_notifications);
    padding: 5px;
    border-radius: 50%;
    text-align: center;
    color: white;
}

/* region media query */
@media screen and (min-width: 992px) {
    .bottom>.sidebar {
        width: 150px;
    }

    .bottom>.content {
        width: calc(100% - 150px);
    }
}

/* #END region media query */